In [3]:
print('Hello World!')

Hello World!

In [ ]:
x=input('Adınızı Giriniz=')

In [ ]:
print(x)

In [7]:
x=10.62;
y=round(x,1);
print(x);
print(y);

10.62
10.6

In [8]:
type(x)

float

In [9]:
type(y)

float

In [10]:
x=15
y=5
x%y

0

In [11]:
x=7
y=9
print(x**y)

40353607

In [14]:
str='Hello World '
print(str)
print(str[1:4])
print(str*3)
print(str+'i am a human')

Hello World
ell
Hello World Hello World Hello World
Hello World i am a human

In [15]:
list=['abcd',786,2.23,'Feda',80.5]
tinylist=['ehe',215]
print(list)
print(list[0:3])
print(tinylist)
print(tinylist+list)

['abcd', 786, 2.23, 'Feda', 80.5]
['abcd', 786, 2.23]
['ehe', 215]
['ehe', 215, 'abcd', 786, 2.23, 'Feda', 80.5]

In [22]:
txt='i like apples'
x=txt.replace('apples','bananas')
print(x)
print(txt)

i like bananas
i like apples

In [30]:
tuple=(123,'ehehe',55)
tinytuple=('yehuu',234)
print(tuple)
print(tinytuple)
print(tuple + tinytuple)

(123, 'ehehe', 55)
('yehuu', 234)
(123, 'ehehe', 55, 'yehuu', 234)

In [33]:
dict={'one':'this is one'}
tinydict={'name':'Feda', 'code':1111}
print(dict)
print(tinydict)

{'one': 'this is one'}
{'name': 'Feda', 'code': 1111}